:root {
  --white: hsl(0 0 100);
  --cobalt: hsl(230 80 40);
  --background-color: var(--white);
  --text-color: hsl(230 10 20);
  --text-muted-color: hsl(230 10 40);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font: 100%/1.5 sans-serif;
  text-wrap: pretty;
  min-width: 100vw;
  min-height: 100vh;
}
a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}
a.active-link,
a:hover,
a:active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;
}
body,
h1,
h2,
h3,
ol,
p,
ul {
  margin: 0;
}
:is(h2, h3, ol, p, ul):not(:last-child) {
  margin-block-end: 0.75rem;
}
h1,
h2,
h3 {
  text-wrap: balance;
}
h1 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-block: 3rem;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-block-start: 2.25rem;
}
h3 {
  font-size: 1rem;
  line-height: 1rlh;
  margin-block-start: 1.5rem;
}
ol,
ul {
  padding-inline: 2.25em;
}
ol ol {
  list-style-type: lower-alpha;
}
li {
  padding-inline-start: 0.25em;
}
img {
  display: block;
}
svg {
  display: inline-block;
  vertical-align: top;
}
