.page {
  --main-content: 40rem;
  --padding-inline: 1rem;
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(100% - (var(--padding-inline) * 2), var(--main-content))
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}
.page-header,
.main-content,
.page-footer {
  display: grid;
  grid-column: full-width;
  grid-template-columns: inherit;
  padding-block: 2rem;

  > * {
    grid-column: content;
  }
}
.main-content {
  container: main-content / inline-size;
}
