---
layout: default
---
<main class="main-content">
  <section class="vcard">
    <figure class="vcard-figure">
      <img
        height="160"
        width="160"
        src="/assets/images/foto-jan-gerrit-post-2025.webp"
        class="photo"
        alt="Foto Jan Gerrit Post"
      />
    </figure>
    <div class="vcard-body">
      <h1 class="name">Jan Gerrit Post</h1>
      <p class="job-title">Zelfstandig interimmanager & adviseur bedrijfsintegratie</p>
    </div>
  </section>
  <section class="lead">
    {{ content }}
  </section>
  <section class="contact">
    <ul class="contact-details">
      <li>
        <a href="https://www.linkedin.com/in/jangerritpost/">
          <span class="sr-only">LinkedIn</span>
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon-fill">
            <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
          </svg>jangerritpost
        </a>
      </li>
      <li>
        <a href="mailto:j.g.post@confluens.nl">
          <span class="sr-only">E-mail</span>
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon-outline">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>j.g.post@confluens.nl
        </a>
      </li>
      <li>
        <a href="tel:+31625577739">
          <span class="sr-only">Telefoon</span>
          <svg viewBox="0 0 24 24" aria-hidden="true" class="icon-outline">
            <path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
          </svg>06–25577739
        </a>
      </li>
    </ul>
  </section>
</main>
